/* TODO Mobile: Change the icon for the search buttom */

/*Mobile Layout*/

@import url('https://fonts.googleapis.com/css?family=Bungee|Mukta+Malar|Slabo+27px');

/* Desktop Layout */
@media screen and (min-width: 800px) {
    header {
        height: 90px;
    }
    .header-wrapper {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    header nav ul{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
    }
    #open-search {
        order: 1;
    }
    header * {
        max-width: 1000px;
    }
    .wrapper {
        margin: auto;
        max-width: 1000px;
        display: flex;
        flex-direction: row;
    }
}